<div *ngIf="userData.length>0">
  <h3>Selected Users</h3>
  <hr>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip *ngFor="let chip of userData" selected color="primary">
      {{chip.name}} - {{chip.dob | age}}
    </mat-chip>
  </mat-chip-list>
</div>