<div *ngIf="!loading">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="checked">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
              <mat-checkbox [(ngModel)]="element.checked" (ngModelChange)="selectUser(element)"></mat-checkbox>
            </td>
          </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.dob | age}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone number </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="button-div">
    <mat-form-field appearance="">
      <mat-label>Filter by</mat-label>
      <mat-select [(ngModel)]="selectedFilter" (selectionChange)="filterFields()">
        <mat-option value="all">All</mat-option>
        <mat-option value="18">Less than 18 years</mat-option>
        <mat-option value="18-56">18 to 56 years</mat-option>
        <mat-option value="56">Greater than 56 years</mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-raised-button (click)="submit()"color="primary">Submit</button> 
  </div>
</div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
  