// .navbar {
//     justify-content: space-between;
// }
// span {
//     padding: 1rem;
// }
// a {
//     text-decoration: none;
//     color: white;
// }

// a:hover, a:active{
//     color: lightgray;
// }

// .navigation-items{
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
// }

// mat-toolbar{
//     border-radius: 3px;
// }

// @media(max-width: 959px){
//     mat-toolbar{
//         border-radius: 0px;
//     }
// }
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: purple;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }