<div class="navbar">
  <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-fw fa-home"></i> Home</a>
  <a [routerLink]="['/users']" routerLinkActive="active"><i class="fa fa-fw fa-group"></i> Users</a>
  <a [routerLink]="['/admin']" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> Admin</a>
</div>
<router-outlet></router-outlet>