.container {
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .one {
    width: 45%;
    height: auto;
    float: left;
  }
  
  .two {
    width: 45%;
    float: right;
    height: auto;
  }