<div class="example-container">
    <div>
    <mat-form-field hintLabel="Enter five numbers one by one" appearance="fill">
      <mat-label></mat-label>
      <input type="number" matInput #input maxlength="10" placeholder="Enter array input" [(ngModel)]="arrInput">
      <mat-hint align="end">{{arr?.length}}/5</mat-hint>
      
    </mat-form-field>
        <button mat-mini-fab color="accent" [disabled]="arr.length===5" (click)="addToArray()">Add</button>
        <div class="array-div">
            <p *ngIf="arr.length">Values entered: {{arr.toString()}} </p>
        </div>

    </div>
    <div>
       <mat-form-field hintLabel="" appearance="fill">
        <mat-label>Enter total sum</mat-label>
        <input type="number" matInput #input maxlength="10" placeholder="" [(ngModel)]="arrTotal">
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
     
    </div>
    <div class="button-div">
        <button mat-raised-button (click)="resetArray()">Reset</button>
        <button mat-raised-button (click)="submit()"color="primary">Submit</button> 
    </div>
  </div>
  
