.example-container {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 3px solid #800180;
    padding: 10px;
  }
mat-form-field {
    margin: 10px;
}
.button-div {
    margin-left: 10px;
    button {
        margin-right: 5px;
    }
}
.array-div {
    float: right;
    width: 50%;
}